@import "src/theme/variables";
@import "src/theme/fonts";

.details {
  padding: 28px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border-radius: 12px;
  background: $gray-800;

  &Title {
    color: $gray-400;
    @include text-md;
  }
  &Wrap {
    display: flex;
  }

  &Card {
    max-width: 116px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 0;
  }

  &CardTitle {
    color: $gray-200;
    @include heading-xs;
  }

  &CardImg {
    width: 67px;
    height: 67px;
    margin: 12px 0;
  }

  &CardSubtitle {
    color: $gray-200;
    @include text-sm;
    margin-bottom: 4px;
  }

  &CardWrap {
    display: flex;
    gap: 8px;
  }

  &CardTempLeft {
    color: $gray-100;
    @include heading-xs;
  }

  &CardTempRight {
    color: $gray-400;
    @include heading-xs;
  }
}
